//
// Colors
//

// Override Bootstrap color system

$color1: #08080777;
$color2: #080807;
$color3: #ffd700;
$color4: #a38a17;

// Override Bootstrap default state colors

$primary: $color1;
$secondary: $color2;
